html {
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
}
:root {
    --bg-base: rgb(25, 25, 25);
    --bg-base-gradient: linear-gradient(90deg,rgba(38, 19, 0, 1) 0%, rgba(31, 0, 0, 1) 100%);
    --text-primary: white;
    --card-background: rgba(255, 240, 204, 0.1);
    --weather-color: rgba(200, 200, 200, 1);
    --stat-color: rgba(255, 255, 255, 0.25);
    --stat-fill-text: rgba(100, 100, 100, 0.5);
    --carousel-over: rgba(100, 100, 100, 0.5);
}
body.light-mode {
  --bg-base: #f3f4f6;
  --bg-base-gradient: linear-gradient(90deg,rgba(255, 237, 217, 1) 0%, rgba(255, 227, 227, 1) 100%);
  --text-primary: #111827;
  --card-background: rgba(75, 70, 50, 0.1);
  --stat-color: rgba(0, 0, 0, 0.25);
  --stat-fill-text: rgba(250, 250, 250, 0.5);
  --carousel-over: rgba(200, 200, 200, 0.25);
}
body {
    background-color: var(--bg-base);
    background: var(--bg-base-gradient);
    color: var(--text-primary);
    transition: background-color 0.4s ease, color 0.4 ease;
}
h1 {
    margin: 20px 10px;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#top-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes card-entry {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes card-hover {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.035);
    }
    100% {
        transform: scale(1.025);
    }
}
#bottom-bar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
#bar {
    background-color: var(--card-background);
    height: 50px;
    width: auto;
    padding: 2px 4px 2px 3px;
    border-radius: 50px;
    border: solid 2px rgba(150, 150, 150, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 5px 20px rgba(150, 150, 150, 0.15);
    transform: scale(0.85);
}
.link-icon {
    height: 30px;
    width: 30px;
}
.link img {
    width: 32px;
    height: 32px;
}
.link a {
    display: flex;
    opacity: 0.75;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--card-background);
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-primary);
    padding: 0px 10px 0px 7px;
    font-weight: bold;
    border: solid 1px rgba(155, 155, 155, 0.2);
}
.link a:hover {
    animation: card-hover 0.15s ease;
    transform: scale(1.025);
}
.icon-only a {
    padding: 6px;
}
h2 {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 0px 10px cyan;
}
#profile:hover {
    animation: card-hover 0.15s ease-in;
    transform: scale(1.025);
}

#centering-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-stack {
  background: transparent;
  width: 80vw;
  max-width: 1000px;
  min-height: 100px;
}



#profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 0px 10px cyan;
}
#profile:hover {
    animation: card-hover 0.15s ease-in;
    transform: scale(1.025);
}
#details {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#weather {
    font-size: 15px;
    transition: background 1.5s ease-in-out;
    color: var(--weather-color);
}
#weather h2{
    font-size: 15px;
}
#stats {
    overflow: scroll;
    display: block;
}
#stats h2 {
    padding-bottom: 0;
}
#stats #scroll-text {
    padding: 0;
    font-weight: bold;
    color: var(--stat-color);
    padding-bottom: 65px;
    font-size: 15px;
}
#stats h3 {
    margin: 0;
    margin-top: 25px;
    padding: 0;
}
.stat-with-percentage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.stat {
    background-color: var(--stat-color);
    width: 90%;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    height: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.fill {
    /*animation: stat-fill-animation 0.75s ease-in;*/
    font-weight: bold;
    background-color: rgba(0, 250, 154, 0.75);
    color: var(--stat-fill-text);
    border-radius: 0px;
    height: 20px;
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.25);
}
#fill1 {
    width: 20%;
}
#fill2 {
    width: 50%;
}
#fill3 {
    width: 75%;
}
#fill4 {
    width: 100%;
}
#stats:hover {
    .fill {
            animation: stat-fill-animation 0.45s ease-in;
            background-image: linear-gradient(90deg,rgba(0, 250, 154, 1) 50%, rgba(247, 255, 0, 1) 100%);
    }
}
#clock-symbol {
    font-size: 100px;
}
#wake-up h2 {
    font-size: 15px;
}
#buttons {
    display: flex;
    max-width: 500px;
    width: 80vw;

    flex-direction: column;
    gap: 10px;
}
.btn {
    background: none;
    border: none;
    outline: none;
    color: var(--text-primary);
    background-color: var(--card-background);
    padding: 10px;
    border-radius: 25px;
}
.btn:hover {
    animation: card-hover 0.15s ease;
    transform: scale(1.025);
    outline: solid 2px rgba(150, 150, 150, 0.25);
}
h3 {
    font-family: "Geist Mono", monospace;
}
#spotify {
    width: 100%;
}
#last {
    max-height: 100%;
    padding: 0;
    max-width: 100%;
}
#search {
    max-height: 200px;
    max-width: 100%;
    padding: 0;
    align-items: center;
}
#search-form {
    width: 70%;
}
.grid-stack-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    background-color: var(--card-background);
    border-radius: 25px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.1);
}
.grid-stack-item-content:hover {
    box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.15);
    animation: card-hover 0.15s ease-in;
    transform: scale(1.025);
    outline: solid 3px rgba(150, 150, 150, 0.25);
}
@keyframes stat-fill-animation {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h3 {
    font-family: "Geist Mono", monospace;
}
#scroll-break {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    color: var(--text-primary);
    font-weight: bold;
}
#news-feed-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 5px;
}
#news-feed {
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    width: 80vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 1000px;
    background-color: var(--card-background);
    border-radius: 25px;
    overflow: scroll;
    padding: 25px;
    margin: 10px;
    gap: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.1);
}
#centering-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news-item {
  display: flex;
  gap: 12px;
  align-items: center;
  background: var(--card-background);
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--text-primary);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: transform 0.2s ease, background 0.2s ease;
}
.news-item:hover {
  background: var(--stat-color);
  animation: card-hover 0.15s ease;
  transform: scale(1.025);
}
.news-thumb {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 15px;
  flex-shrink: 0;
}
.news-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}
.news-title {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
.news-desc {
  font-size: 0.75rem;
  color: var(--text-primary);
  margin: 0;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#bg-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
#bg-carousel::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /*background: var(--carousel-over);*/
}
@media only screen and (min-width: 600px) {
    .content {
        grid-template-columns: auto auto;
    }
    #settings {
        grid-column: span 2;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #last {
        grid-column: span 2;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search {
        grid-column: span 2;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #news-feed {
        padding: 50px;
    }
    #buttons {
        flex-direction: row;
        justify-content: center;
    }

}
@media only screen and (min-width: 900px) {
    .content {
        grid-template-columns: auto auto auto;
    }
    #settings {
        grid-column: span 3;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #last {
        grid-column: span 3;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search {
        grid-column: span 3;
        max-width: 100%;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #news-feed {
        padding: 50px;
    }
    #buttons {
        flex-direction: row;
    }

}
