body {
	background-color: rgba(63,174,143,1);
	min-width: 100px;
}

header {
	z-index: 5;
	background: linear-gradient(45deg,rgba(139,187,184,0.8),rgba(139,187,144,0.8));
	text-align: center;
	color: rgba(255,255,255,1);
	left: 50px;
	right: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5vh;
	
	border: 7px solid rgba(172,255,182,0.9);
	border-radius: 15px;
	position: fixed;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

#usrname {
	text-align: center;
	font-size: 4rem;
	font-family: "JetBrains Mono", monospace;
	font-weight: bolder;
	text-shadow: 3px 5px rgba(1,1,1,0.75);
	color: rgba(255,185,160,1);

}

#pfimg {
	width: 30vh;
	height: 30vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1vh solid rgba(75,240,194,0.75);
	border-radius: 50px;
	outline: 1vh solid rgba(0,0,0,0.1);
	margin-top: 15vh;
	transition: transform 0.5s ease-out;
}

#pfimg:hover {
	transform: scale(1.21);
}

#pfimg:hover {
	outline: 2vh solid rgba(0,0,0,0.2);
}

@keyframes pfButton {
	0% {background: yellow;}
	50% {background: rgba(97,255,35,1);}
	100% {background: rgba(255,110,110,0.5);};
}

#pf {
	font-size: 2.5vh;
	animation-name: pfButton;
	animation-duration: 1s;
	text-align: center;
	font-family: "JetBrains Mono", monospace;
	background: linear-gradient(45deg,rgba(97,255,35,1),rgba(255,110,110,1));
	border: 1vh solid rgba(255,163,76,1);
	border-radius: 50px;
	font-weight: bold;
	transition: transform 1s ease-out;
	
	
	padding: 2vh;
	margin: 17vw;	
	margin-top: 50px;
	margin-bottom: 15vh;
}

#pf:hover {
	
	transform: scale(1.04);
	background: linear-gradient(270deg, rgba(97,255,35,1), rgba(255,110,110,1));
	border: 1vh solid rgba(217,150,88,1);
	outline: 10px solid rgba(100,100,100,0.65);
}

#info0 {
	text-align:center;
	padding-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
	margin: 2rem;
	margin-bottom: 20vh;
	font-size: 2vw; 
}

#TnCm {
	
	font-family: Copperplate, Papyrus, fantasy;
	position: sticky;
	z-index: 3;
	top: 10vh;
	text-align: center;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 3px rgba(1,1,1,0.5);
	background: rgba(255,130,147,0.65);
	margin: 20vw;
	margin-top: 100px;
	margin-bottom: 45px;
	
	padding: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 5px solid rgba(255,173,184,0.85);
	border-radius: 25px;
	font-size: 3.5vw;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

}

#TnC {
	z-index: 1;
	position: sticky;
	margin: 2vh 2vw;
	padding: 50px;
	background: rgba(255,190,117,1);
	border: 7px solid rgba(225,218,176,1);
	border-radius: 40px;
	text-shadow: 2px 3px rgba(0,0,0,0.25);
	font-style: monospace;
	font-size: 2vh;
	transition: transform 1s ease;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

#TnC:hover {
	z-index: 4;
	background: rgba(225,190,117,0.999);
	color: rgba(1,1,1,1);
	padding: 45px;
	border: 12px solid rgba(255,218,176,0.75);
	outline: 10px solid rgba(255,255,255,0.25);
	transform: scale(1.01)
}


footer {
	font-size: 2vh;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 5px solid rgba(255,150,72,0.5);
	border-radius: 5vw 5vw 0 0;
	text-align: center;
	margin-top: 50px;
	padding-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
	background: rgba(177,255,172,0.7);
}
