body {

	margin: 0;
	background-image: linear-gradient(45deg,rgb(23, 2, 1) 30%, rgb(10, 0, 2) 100%);
	color: rgba(200,200,200,0.9);
	padding: 0;
	padding-top: 1vh;
	text-align: center;
	font-size: 2vh;
}
h2 {
	font-size: 4vh;
}
header {
	display: flex;
	position: sticky;
	font-family: "Merriweather", serif;
	text-align: center;
	font-weight: lighter;
	top: 1vh;	
	margin: auto;
	z-index: 5;
	
	left: auto;
	right: auto;
	width: 95%;

	flex-direction: row;
	justify-content: center;
	background: rgba(69, 55, 35, 0.334);
	color: rgba(200,200,200,0.9);
	border: 1vw solid;
	border-color: rgba(96, 21, 7, 0.5);
	border-radius: 1vh;

	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	transform: scale(1);
}
#hit:link, #hit:visited {
	color: rgba(200,200,200,0.9);
	text-decoration: none;
	
}
#hit:hover, #hit:active {
	animation-name: hit;
	animation-duration: 1s;
	transform: scale(1.1);
	text-shadow: 2px 3px black;
}
#desc {
	margin: 5vh 10vw;
}
@keyframes imageh {
	0% {transform: scale(1); outline: 0.9vh solid rgba(100,100,100,0.2);}
	25% {transform: scale(1.01); outline: 1vh solid rgb(196, 31, 31);}
	50% {transform: scale(1.02); outline: 1vh solid rgba(130, 31, 196, 1);}
	75% {transform: scale(1.01); outline: 1vh solid rgba(196, 155, 31, 1);}
	100% {transform: scale(1.015); outline: 1.1vh solid rgba(100,100,100,0.2);}
}

#image {
	border: 1vw solid rgba(100,100,100,0.5);
	border-radius: 25px;
	margin: 10vh 0vw;
	transition: transform 0.35s ease-in;
	transition: outline 0.25s ease-in;
}
#image:hover {
	animation-name: imageh;
	animation-duration: 0.35s;
	transform: scale(1.01);
	outline: 1.1vh solid rgba(100,100,100,0.2);
}
@keyframes pfini {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.95);
		outline: 1vw solid #FF8378;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pfhover {
	0% {
		transform: scale(0.9);
		outline: 1vw solid #81FF42;
	}
	50% {
		transform: scale(1.1);
		outline: 1.5vw solid #FF426E;
	}
	100% {
		transform: scale(1.05);
		outline: 1.25vw solid rgba(100,100,100,0.5);
	}
}

#buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 2vh;
    margin-bottom: 40vh;
}

#pf {
	animation-name: pfini;
	animation-duration: 1s;
	background: linear-gradient(45deg,rgba(255, 136, 66, 1) 0%, rgba(197, 23, 255, 1) 100%);
	font-family: "JetBrains Mono", monospace;
	font-weight: bold;
	font-size: 2vh;
	color: #4F258A;
	text-decoration: none;
	
	text-align: center;
	width: 30vw;
	
	padding: 2vh 2vw;
	border: 1vh solid;
        border-color: linear-gradient(45deg,rgba(148, 66, 255, 1), rgba(162, 255, 23, 1));
	border-radius: 2vh;
	transition: transform 0.25s ease-out;
		
}

#pf:hover, #pf:active {
	animation-name: pfhover;
	animation-duration: 0.5s;
	transform: scale(1.05);
	outline: 1.25vw solid rgba(100,100,100,0.5);
}
@keyframes pfini1 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.95);
		outline: 1vw solid #00e1ff;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pfhover1 {
	0% {
		transform: scale(0.9);
		outline: 1vw solid #ff8513;
	}
	50% {
		transform: scale(1.1);
		outline: 1.5vw solid #0649ff;
	}
	100% {
		transform: scale(1.05);
		outline: 1.25vw solid rgba(100,100,100,0.5);
	}
}
#pf1 {
	animation-name: pfini1;
	animation-duration: 1s;
	background: linear-gradient(45deg,rgb(110, 66, 255) 0%, rgb(23, 255, 42) 100%);
	font-family: "JetBrains Mono", monospace;
	font-weight: bold;
	font-size: 2vh;
	color: #4F258A;
	text-decoration: none;
	display: block;
	text-align: center;
	width: 30vw;
	
	padding: 2vh 2vw;
	border: 1vh solid;
        border-color: linear-gradient(45deg,rgba(148, 66, 255, 1), rgba(162, 255, 23, 1));
	border-radius: 2vh;
	transition: transform 0.25s ease-out;
		
}

#pf1:hover, #pf1:active {
	animation-name: pfhover1;
	animation-duration: 0.5s;
	transform: scale(1.05);
	outline: 1.25vw solid rgba(100,100,100,0.5);
}
hr {
    opacity: 0;
}

#vidmid {
    background-image: linear-gradient(45deg,rgba(113, 27, 171, 0.75) 2%, rgba(129, 140, 35, 0.75) 100%);
	margin: 2vw;
	margin-top: 5vh;
	font-size: 2vh;
	border: 1vh solid rgba(200,200,200,0.5);
	border-radius: 1.5vh;
	font-family: "Raleway", sans-serif;
	padding: 5vh 0vw 10vh 0vw;
}

#vid {
    border: 1vw solid rgba(100,100,100,0.25);
    border-radius: 25px;
    margin: 5vh 1vw;
    max-width: 85vw;
}
#reqd {
	background-image: linear-gradient(45deg,rgba(128, 90, 63, 0.75) 2%, rgba(109, 30, 161, 0.75) 100%);
	margin: 2vw;
	margin-top: 5vh;
	font-size: 2vh;
	border: 1vh solid rgba(200,200,200,0.5);
	border-radius: 1.5vh;
	font-family: "Raleway", sans-serif;
	padding: 5vh 0vw 10vh 0vw;
    p {
        margin: 1vh 10vw;
    }

}
#prep {
    margin-top: 10vh;
    font-family: "Raleway", sans-serif;
	padding: 10vh 10vw 15vh 10vw;
	background: rgba(200,200,200,0.25);
    
}

#htui {
	font-family: "Raleway", sans-serif;
	padding: 10vh 10vw 15vh 10vw;
	background: linear-gradient(45deg,rgba(171, 27, 87, 0.4) 2%, rgba(140, 121, 35, 0.5) 100%);
}
.code {
	font-size: 1.72vh;
	font-family: "JetBrains Mono", monospace;
	background-color: rgba(10,10,10,1);
	
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 5%;
	padding: 1.5vh;
	overflow: auto;
	
	border: 0.5vw solid rgba(100,100,100,0.7);
	border-radius: 1vh;
	text-shadow: 0.5vh 0.5vw rgba(110,110,110,0.4);	
}

#TnC {
	padding: 10vh 5vw;
}
footer {
	background: rgba(150,150,150,0.25);
	margin-bottom: 0;
	margin-top: 10vh;
	padding: 2.4vh;
}